@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    --main-color: #212A2F;
}
::selection{
    background: var(--main-color);
}
a:hover{
   text-decoration: underline;
}
a:active{
    background-color: #4D5559;
}
button:focus{
    color: #00ffff;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    color: var(--main-color);
    height: 100%;
}
h1{
    font-weight: normal;
    font-size: 1em;
}
h2{
    text-align: start;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.5px;
}
section:nth-child(2) h2{
    text-align: center;
}
IMG{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: var(--main-color);
    transition: opacity 1s;
}
header{
    background-color: #fff;
    max-height: 60px;
    flex: 0 0 auto;
} 
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
}
.header__logo-box a{
    cursor: pointer;
}
.header__nav-right{
    max-height: 60px;
}
.header__nav-right-text{
    justify-content: space-between;
    align-items: center;
}
.header__nav-right-text li:nth-child(1){
    min-width: 150px;
}
.header__nav-right-icons{
    align-items: center;
}
.header__icon-box{
    display: flex;
}
.header__icon{
    min-height: 25px;
    min-width: 25px;
}
li{
    list-style-type: none;
}
header nav li{
    margin: 21px 18px 18px 27px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1.7px;
}
.header__nav{
    padding: 0 5px;
}
.header__nav>ul, .header__nav>div{
    width: 33%;
}
.header__nav-right{
    display: flex;
    justify-content: flex-end;
}
.header__logo-box{
    text-align: center;
}
main{
    flex: 1 0 auto;
    overflow: hidden;
}
.main-picture{
    background-color: var(--main-color);
    background: url(/images/running-guy-and-big-shoes.jpg) center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    height: 740px;
    align-items: center;
    justify-content: flex-end;
}
.main-picture div{
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 48px;
    line-height: 63px;
    letter-spacing: 0.5px;
}
.main-picture p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}
.main-picture__buttons-box{
    display: flex;
    margin-top: 180px;
    margin-bottom: 50px;
}
.main-picture__button-box{
    margin: 15px;
}
.main-picture__button-box:nth-child(1){
    text-align: end;
}
.main-picture__button-box:nth-child(2){
    text-align: start;
}
.main-picture__button-box a{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 15px 40px;
    background-color: #fff;
}
.sheets-section{
    padding: 102px;
}
.sheets-section img{
    max-height: 396px;
}
.sheets-section:nth-child(2) .sheet__name{
    padding-left: 30px;
    padding-top: 17px;
}
.sheets-section:nth-child(4) .sheet__name{
    border-bottom: none;
}
.sheets-section__sheets-box{
    position: relative;
}
.sheets-section__sheets-box ul{
    justify-content: flex-start;
}
.sheets-section__slider-button{
    padding-right: 8px;
    text-align: end;
    font-family: 'Rubik', sans-serif;
    font-size: 38px;
    color: #4D5559;
    background-color: #fff;
    border: 1px solid #D3D4D5;
    position: absolute;
    margin: auto;
    top: 200px;
    bottom: 250px;
    right: -55px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.sheets-section__category-box{
    margin: 10px 0;
    text-transform: uppercase;
    display: flex;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    justify-content: center;
    cursor: pointer;
    border-bottom: 1px solid #D3D4D5;
    ;
}
.sheets-section__category-box ul li{
    margin: 0 100px;
    padding: 10px 30px;
}
.sheets-section__category-box ul li:nth-child(1){
    border-bottom: 2px solid #000000;
}
.sheets-section__category-box ul li button{
    border: none;
    background-color: #fff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--main-color);
    cursor: pointer;
}
.sheets-section__sheets-box{
    padding: 25px 0;
}
.sheet{
    min-height: 396px;
    min-width: 396px;
    position: relative;
}
.loading::before{
    content: "";
    display: block;
    height: 500px;
    width: 396px;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    animation: loading-card 6s ease;
}
.loading::after{
    content: "";
    display: block;
    height: 100px;
    width: 100px;
    background-image: url(https://i.gifer.com/3WFM.gif);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 50px);
    z-index: -1;
    animation: loading-loader 6s ease;
}
.sheet:nth-child(2n){
    margin: 0 24px;
}
.sheet__picture-text-box{
    position: relative;
    max-height: 396px;
}
.sheet__name, .sheet__description-image{
    padding: 5px 0 10px 0;
}
.sheet__name{
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #D3D4D5;
}
.sheet__description-box{
    display: flex;
    padding-left: 20px;
}
.sheet__description{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    padding: 10px 0;
    vertical-align: center;
}
.sheet__hover-box{
    position: absolute;
    top: 110px;
    left: 128px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.sheet__category-link-box{
    background-color: #fff;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    width: 180%;
    margin: 10px 0;
}
.picture-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.picture-section__picture{
    margin-bottom: 47px;
}
.picture-section p{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    width: 48%;
    margin-top: 22px;
}
.picture-section__box{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.picture-section__btn{
    padding: 15px 45px;
    color: #fff;
    text-transform: uppercase;
    background-color: var(--main-color);
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 12px;
}
footer{
    background-color: var(--main-color);
    color: #fff;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.5px;
    padding: 71px 54px;
    flex: 0 0 auto;
}
form{
    margin-bottom: 70px;
}
label{
    display: block;
}
form input{
    color: #fff;
    background-color: #4D5559;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 2px;
    border: none;
    border-bottom:3px solid #fff;
}
form input::placeholder{
    color: #ffffff80;
}
.form__description, .footer__socials-description{
    margin-bottom: 5px;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.5px;
}
form button{
    color: #fff;
    background-color: #4D5559;
    padding: 12px 20px;
    padding-top: 13px;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}
.registration-form__input:focus ~ label, .registration-form label:active{
    font-size: 20px;
}
.registration-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registration-form section{
    min-width: 20%;
}
.registration-form__section-name{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: 500;
}
.registration-form__list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 25%;
    margin-bottom: 10px;
}
.registration-form__item{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    margin-bottom: 10px;
}
.registration-form__list > .registration-form__item{
    flex-direction: row;
    justify-content: flex-start;
    min-width: 60%;
}
.registration-form__list > .registration-form__item > input{
    margin: 0 5px;
}
.registration-form__list-description{
    font-weight: 700;
    margin-bottom: 5px;
    margin-left: 5px;
}
.registration-form__input{
    box-sizing: border-box;
    color: #fff;
    background-color: #4D5559;
    padding: 10px 28px;
    padding-top: 13px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin-bottom: 5px;
    width: 100%;
}
.registration-form__input-checkbox-label{
    margin-left: 20px;
}
.registration-form__input:required::placeholder{
    color: #ff0000dc;
}
.registration-form__input-checkbox:checked ~ label{
    color: #00ffff;
}
.registration-form__input-checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.registration-form__check-box {
    position: absolute;
    margin-left: 0;
    width: 1em;
    height: 1em;
    background-image: url(/svg/checkboxes/off.svg);
}
.registration-form__input-checkbox:checked ~ .registration-form__check-box {
    background-image: url(/svg/checkboxes/on.svg);
}
.registration-form__input-checkbox:focus + .registration-form__check-box {
    background-image: url(/svg/checkboxes/off-focused.svg);
}
.registration-form__input-checkbox:checked:focus + .registration-form__check-box {
    background-image: url(/svg/checkboxes/on-focused.svg);
}
.registration-form__input-checkbox:disabled + .registration-form__check-box {
    background-image: url(/svg/checkboxes/off-disabled.svg);
}
.registration-form__input-checkbox:checked:disabled + .registration-form__check-box {
    background-image: url(/svg/checkboxes/on-disabled.svg);
}
.registration-form__button-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.registration-form__button{
    min-width: 35%;
    text-align: center;
    margin: 0 10px;
    box-shadow: 10px 5px 5px var(--main-color);
}
.registration-form__button[type='reset']{
    text-decoration: line-through;
}
.pseudo-form{
    display: flex;
    flex-wrap: wrap;
}
.pseudo-form h3{
    margin-bottom: 10px;
}
.pseudo-form__description-box{
    margin-bottom: 15px;
    flex: 1 0 50%;
    padding: 10px;
    box-sizing: border-box;
}
.pseudo-form__description-term{
    margin-bottom: 2px;
}
.pseudo-form__description-term::first-letter{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.pseudo-form__description-definition{
    margin-bottom: 8px;
    border-bottom: 1px solid var(--main-color);
}
.pseudo-form__description-definition::before {
    content: '🛈';
    margin-right: 5px;
}
.pseudo-form__fieldset-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1 0 50%;
}
.pseudo-form__fieldset{
    flex: 1 0 auto;
    max-width: 45%;
}
.pseudo-form__fieldset ul{
    display: block;
}
.pseudo-form__fieldset li{
    display: flex;
}
.pseudo-form__fieldset input{
    margin: 5px;
    margin-top: 3px;
}
.pseudo-form__fieldset input:checked ~ label{
    text-decoration: line-through;
}
.pseudo-form__fieldset ul li:nth-child(2n){
    font-weight: 600;
}

.demo {
    padding: 100px 0;
}

.demo__gradients {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.demo__gradient {
    height: 200px;
    width: 200px;
}

.demo__gradient:nth-of-type(1) {
    background: linear-gradient(90deg, #f70000 0%, #faf600 50%, #00d4ff);
}

.demo__gradient:nth-of-type(2) {
    background: radial-gradient(circle, #f70000 0%, #faf600 50%, #00d4ff 100%);
}

.demo__gradient:nth-of-type(3) {
    border-radius: 50%;
    background: conic-gradient(#ff0000, #ffff00, #00ffff, #008000, #ff0000);
}

.demo__title {
    font-size: 47px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 40px;
}

.demo__animations {
    margin: 100px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.demo__animation {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    background-color: var(--main-color);
    border: 2px solid #000;
}

.demo__animations-2d .demo__animation:nth-of-type(1){
    animation: demoAnimation2D-first 3s ease-in-out infinite alternate;
}

.demo__animations-2d .demo__animation:nth-of-type(2){
    animation: demoAnimation2D-second 3s ease-in-out infinite alternate;
}

.demo__animations-3d .demo__animation:nth-of-type(1) {
    animation: demoAnimation3D-first 3s ease-in-out infinite alternate;
}

.demo__animations-3d .demo__animation:nth-of-type(2) {
    animation: demoAnimation3D-second 3s ease-in-out infinite alternate;
}

.demo__animations-transition:hover .demo__animation {
    transform: translateX(100px);
}

.demo__animations-transition .demo__animation:nth-of-type(1) {
    transition: transform 1s ease-in-out;    
}

.demo__animations-transition .demo__animation:nth-of-type(2) {
    transition: transform 1s cubic-bezier(.29, 1.01, 1, -0.68);    
}

footer nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 72px;
}
.nav__box{
    text-align: start;
    margin-right: 20%;
}
footer nav p, .footer__socials-name{
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
footer nav ul{
    display: flex;
    flex-direction: column;
}
footer nav ul li{
    margin-bottom: 15px;
}
footer nav ul li a{
    color: #fff;
}
.footer__socials{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.footer__socials-description{
    max-width: 293px;
    margin-bottom: 15px;
}
.footer__social-a{
    margin-right: 18px;
}
.footer__flag{
    margin-right: 25px;
}
.footer__copyright-text{
    text-align: center;
}

@keyframes loading-loader {
    0% {
        z-index: 1;
        opacity: 1;
    }
    90% {
        z-index: 1;
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes loading-card {
    0% {
        z-index: 1;
    }
    90% {
        z-index: 1;
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes demoAnimation2D-first {
    to {
        transform: scale(1.3);
    }
}

@keyframes demoAnimation2D-second {
    from {
        transform: translate(0, 100px);
    }
    to {
        transform: translate(0, -100px);
    }
}

@keyframes demoAnimation3D-first {
    from{
        transform: scale3d(1, 0, 1);
    }
    to{
        transform: scale3d(1, 1, 1);
    }
}

@keyframes demoAnimation3D-second {
    from {
        transform: rotate3d(0);
    }
    to {
        transform: rotate3d(1, 1, 1, 90deg);
    }
}


