* {
    margin: 0;
}

html, body {
    font-size: 18px;
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

button {
    background: none;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background: #f1f1f1;
}

button:active {
    background: #000;
    color: #fff;
}

.slider {
    width: 256px;
    height: 256px;
    margin: 20px auto;
    overflow: hidden;
}

.slider-line {
    width: 1024px;
    height: 256px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}